.main-container {
    margin-left: 15px;
}

.list_item {
    margin-top: 10px;
}

.list {
    overflow: auto;
    height: 150px;
    width: 250px;
    border: 2px solid black;
}

.edit-field {
    margin-top: 10px;
}

.edit-field label {
    font-weight: bold;
    color: blue;
}

.show-field {
    margin-top: 10px;
}

.show-field label {
    font-weight: bold;
    color: blue;
}

button {
    margin-top: 10px;
}

.list-container {
    float: left;
    margin: 10px;
}

.explanation{
    margin-left: 20px;
    color: brown;
    font-size: 10px;
}

.division{
    width: 50%;
    float: left;
}