<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>

    <div class="main-container">
        <h1 th:text="'Editando: '+ ${selected.name}"></h1>

        <form action="#" th:action="@{/item/save}" th:object="${selected}" method="post">
            
            <div class="edit-field">
                <label for="selected-name">Id:</label>
                <input type="hidden" th:field="${selected.id}">
            </div>

            <div class="edit-field">
                <label for="selected-name">Name:</label>
                <input type="text" th:field="${selected.name}">
            </div>

            <div class="edit-field">
                <label for="selected-lastUpdated">Last Updated:</label>
                <input type="text" th:field="${selected.last_updated}">
            </div>

            <div class="edit-field">
                <label for="selected-cost">Cost:</label>
                <input type="number" th:field="${selected.cost}">
            </div>

            <div class="edit-field">
                <label for="selected-weight">Weight:</label>
                <input type="number" th:field="${selected.weight}">
            </div>

            <div class="edit-field">
                <label for="selected-examine">Examine:</label>
                <input type="text" th:field="${selected.examine}">
            </div>

            <div class="edit-field">
                <label for="selected-wiki_url">Wiki Url:</label>
                <input type="text" th:field="${selected.wiki_url}">
            </div>

            <div class="edit-field">
                <button type="submit"> Guardar </button>
            </div>

        </form>
    </div>



</body>

</html>