<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

    <h1>List Monsters</h1>

    <div>
        <ul>
            <li th:each="monster: ${monsters}" class="list_item">
                <div>
                    Nombre: <span th:text="${monster.name}" ></span>
                </div>
                <div>
                    Nivel de ataque: <span th:text="${monster.attack_level}" ></span>
                </div>
                <div>
                    Defence: <span th:text="${monster.defence_slash}" ></span>
                </div>
                <div>
                    Tamano: <span th:text="${monster.size}" ></span>
                </div>
                <div>
                    Hitpoints: <span th:text="${monster.hitpoints}" ></span>
                </div> 
                <div>
                    Descripcion: <span th:text="${monster.examine}" ></span>
                </div> 
            </li> 
        </ul>
    </div>

</body>

</html>