<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>

    <div class="main-container">
        <h1 th:text="'Create: '"></h1>

        <form action="#" th:action="@{/monster/save}" th:object="${selected}" method="post">

            <div class="edit-field">
                <label for="selected-id">Id:</label>
                <input type="text" th:field="${selected.id}">
            </div>

            <div class="edit-field">
                <label for="selected-name">Name:</label>
                <input type="text" th:field="${selected.name}">
            </div>

            <div class="edit-field">
                <label for="selected-lastUpdated">Last Updated:</label>
                <input type="text" th:field="${selected.last_updated}">
            </div>

            <div class="edit-field">
                <label for="selected-attack_level">Attack_level:</label>
                <input type="text" th:field="${selected.attack_level}">
            </div>

            <div class="edit-field">
                <label for="selected-defence_slash">defence_slash:</label>
                <input type="text" th:field="${selected.defence_slash}">
            </div>

            <div class="edit-field">
                <label for="selected-size">size:</label>
                <input type="text" th:field="${selected.size}">
            </div>

            <div class="edit-field">
                <label for="selected-category">category:</label>

                <ul>
                    <li th:each=" type: ${selected.category}">
                        <input type="text">
                    </li>
                </ul>

            </div>

            <div class="edit-field">
                <label for="selected-examine">Examine:</label>
                <input type="text" th:field="${selected.examine}">
            </div>

            <div class="edit-field">
                <label for="selected-wiki_url">Wiki Url:</label>
                <input type="text" th:field="${selected.wiki_url}">
            </div>

            <div class="edit-field">
                <button type="submit"> Guardar </button>
            </div>

        </form>

        </form>



    </div>




</body>

</html>