<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
    <div class="main-container">
        <h1 th:text="'Editando: '+ ${selected.name}"></h1>

        <form action="#" th:action="@{/player/save}" th:object="${selected}" method="post">

            <div class="edit-field">
                <label for="selected-id">Id:</label>
                <input type="hidden" th:field="${selected.id}">
            </div>

            <div class="edit-field">
                <label for="selected-name">Name:</label>
                <input type="text" th:field="${selected.name}">
            </div>

            <div class="edit-field">
                <label for="selected-lastUpdated">Last Updated:</label>
                <input type="text" th:field="${selected.last_updated}">
            </div>

            <div class="edit-field">
                <label for="selected-attack_level">Attack_level:</label>
                <input type="text" th:field="${selected.attack_level}">
            </div>

            <div class="edit-field">
                <label for="selected-defence_slash">defence_slash:</label>
                <input type="text" th:field="${selected.defence_slash}">
            </div>

            <div class="edit-field">
                <label for="selected-size">size:</label>
                <input type="text" th:field="${selected.size}">
            </div>

            <div class="edit-field">
                <label for="selected-hitpoints">Hitpoints:</label>
                <input type="text" th:field="${selected.hitpoints}">
            </div>

            <div class="edit-field">
                <label for="selected-category">category:</label>
                <input type="text" th:field="${selected.categories}">
                <p class="explanation">"Categoria_a, cateogoria_b... categoria_n"</p>
            </div>

            <div class="edit-field">
                <label for="selected-backpack">Backpack:</label>
                <input type="text" th:field="${selected.items}">
                <p class="explanation">"ItemId_1, ItemId_2... ItemId_n"</p>
            </div>

            <div class="edit-field">
                <label for="selected-examine">Examine:</label>
                <input type="text" th:field="${selected.examine}">
            </div>

            <div class="edit-field">
                <label for="selected-wiki_url">Wiki Url:</label>
                <input type="text" th:field="${selected.wiki_url}">
            </div>

            <div class="edit-field">
                <button type="submit"> Guardar </button>
            </div>

        </form>
    </div>

</body>

</html>