<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>

    <div class="main-container">
        <h1 th:text="'Editing Room: '+ ${selected.name}"></h1>

        <form action="#" th:action="@{/room/save}" th:object="${selected}" method="post">

            <div class="show-field">
                <label for="selected-id">Id:</label>
                <input th:text="${selected.id}" th:field="${selected.id}" type="hidden">
            </div>

            <div class="show-field">
                <label for="selected-name">Name:</label>
                <input type="text" th:field="${selected.name}">
            </div>

            <div class="show-field">

                <label for="selected-Decoitems">DecoItems:</label>
                <input type="text" th:field="${selected.decoItemsAdd}">

            </div>

            <div class="show-field">
                <label for="selected-items">Items:</label>
                <input type="text" th:field="${selected.itemsAdd}">
            </div>      

            <div class="show-field">
                <label for="selected-players">Players:</label>
                <input type="text" th:field="${selected.playersAdd}">
            </div>

            <div class="show-field">
                <label for="selected-monster">Monster:</label>
                <input type="text" th:field="${selected.monsterAdd}">
            </div>

            <div class="show-field">
                <label for="selected-exits">Exits</label>
                <input type="text" th:field="${selected.exitsAdd}">
            </div>

            <div class="edit-field">
                <button type="submit"> Guardar </button>
            </div>

        </form>

    </div>

    


</body>

</html>